<!DOCTYPE html>
<link rel="stylesheet" href="style.css">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Clothing Retailer</title>
  </head>
  <body>

  <% if @code_check == false %>
  <div class="alert alert-dismissible alert-danger">
    <%= flash[:warning] %>
  <% end %>
  </div>

  <h1 class="col-md-4 mx-auto" style="margin-top: 25px"><b> Hello World <b></h1>
  <div class="col-md-4 mx-auto" style="margin-top: 50px; margin-bottom: 50px;">
  <h4>Select the items you want to add to your cart below:</h4>
  <% @shoppingcart.stock.stock_list.each do |item| unless item[:quantity] == 0 %>
  <div class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> <%= item[:name] %> </h5>
       <form action="/add_to_cart" method="post">
         <input type="hidden" name="item_name" value="<%= item[:name] %>">
         <input type="submit" value="Add to Cart" id="add_to_cart(<%=item[:name]%>)" class="btn btn-outline-light btn-block">
       </form>
     </div>
     <p class="mb-1"> <%= item[:category] %> </p>
     <small>Price: £<%= @format.two_decimal_places(item[:price]) %> </small><br><small>Quantity in Stock: <%= item[:quantity] %> </small>
  </div>
  <br>
  <% end %>
  <% end %>

  <h3>Shopping Cart:</h3>
  <% @shoppingcart.shoppingcart.each do |item| %>
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> <%= item[:name] %> </h5>
      <form action="/remove_from_cart" method="post">
       <input type="hidden" name="item_name" value="<%= item[:name] %>">
       <input type="submit" value="Remove from Cart" id="remove_from_cart(<%= item[:name] %>)" class="btn btn-outline-primary btn-block">
      </form>
    </div>
    <p class="mb-1"> <%= item[:category] %> </p>
    <small>Price: £<%= @format.two_decimal_places(item[:price]) %> </small><br><small>Quantity in Cart <%= item[:quantity] %> </small>
  </div>
  <br>
  <% end %>

  <h3>Total Price: £<%= @format.two_decimal_places(@shoppingcart.shoppingcarttotal.price) %></h3>
  <% if @shoppingcart.shoppingcarttotal.discount_price == @shoppingcart.shoppingcarttotal.price %>
    <form action="/discount_code" method="post">
      <input type="text" class="form-control" placeholder="Discount Code" id="discount_code" name="discount_code">
      <input type="submit" value="Submit" id="discount_code_submit" class="btn btn-outline-primary btn-block">
    </form>
  <% else %>
    <h3><b>Total Price With Discount Code Applied: £<%= @format.two_decimal_places(@shoppingcart.shoppingcarttotal.discount_price) %><b></h3>
  <% end %>
  </div>
  </body>
</html>
